body {
    margin: 0px;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

span,
a {
    display: inline-block;
}

a {
    text-decoration: none;
    background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans 3", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* !home section */
.home {
    background-image: url(../Images/hero\ img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

/* &for Transparent cover Background_home */
.overlay-home {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.container-home {
    /* background-color: chocolate; */
    height: 100vh;
    width: 1140px;
    padding: 1px;
    position: relative;
    left: 196px;
    z-index: 2;
}

.container-navbar {
    background-color: #555555;
    width: 100%;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99;
}

.logo {
    width: 17%;
    height: 61px;
    padding: 18px 0px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
}

.logo a {
    color: #ff305b;
    font-size: 24px;
    font-weight: 800;
    display: inline-block;
    position: fixed;
}

.list {
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 20px 0px;
    position: absolute;
    left: 54%;
}

.items {
    margin: 0px 0px;
    padding: 0px;
    position: fixed;
}

.items li {
    display: inline-block;
    padding: 0px 7.2px;
}

.items a {
    color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.items a:hover {
    color: #ff305b;
}

.content-home {
    /* background-color: brown; */
    width: 1150px;
    text-align: center;
    position: absolute;
    top: 260px;
}

.content-home p {
    color: white;
    margin: 0px 0px 5px;
    font-size: 24px;
    font-weight: 500;
}

.content-home h1 {
    color: #ff305b;
    margin: 0px 0px 5px;
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
}

/* &animation of Professional Web  */
.content-home .animated-text {
    color: white;
    margin: 0px 0px 10px;
    font-size: 22px;
    font-weight: 300;
    vertical-align: middle;
    display: inline-block;
    position: relative;
}

.animated-text {
    font-size: 22px;
    font-weight: 300;
    min-width: 280px;
}

.animated-text span {
    position: relative;
}

.animated-text span::before {
    content: "Developer";
    color: #ffffff;
    animation: words 7.2s infinite;
}

.animated-text span::after {
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid white;
    right: -8px;
    animation: cursor 0.58s step-end infinite, typing 12s steps(20) infinite;
}

@keyframes typing {

    0%,
    10% {
        width: 0;
    }

    20% {
        width: 8ch;
    }

    30% {
        width: 0;
    }

    40% {
        width: 8ch;
    }

    50% {
        width: 0;
    }

    60% {
        width: 9ch;
    }

    70% {
        width: 0;
    }

    80% {
        width: 9ch;
    }

    90% {
        width: 0;
    }

    100% {
        width: 0;
    }
}


@keyframes words {

    0%,
    25% {
        content: "Developer";
    }

    26%,
    50% {
        content: "Designer";
    }

    51%,
    75% {
        content: "Developer";
    }

    76%,
    100% {
        content: "Designer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* !about section */
.about {
    /* background-color: aqua; */
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 1px;
}

.container-about {
    /* background-color: chocolate; */
    height: auto;
    width: 1150px;
    left: 185px;
    position: absolute;
    top: 80px;
}

.clear-fix {
    clear: left
}

.frame img {
    position: relative;
    top: 20px;
    left: 15px;
    width: 340px;
    height: 410px;
}

.frame {
    position: absolute;
    left: 110px;
    top: 55px;
    border: 8px #555555 solid;
    width: 320px;
    border-radius: 5px;
    display: block;
}

.part-two {
    /* background-color:cornflowerblue; */
    float: left;
    width: 620px;
    padding: 0px 0px 0px 28px;
    height: 490px;
    position: absolute;
    right: 10px;
    top: 35px;
}

.about-me h2::before {
    content: "|";
    color: #ff305b;
    position: absolute;
    left: 18px;
    top: 24px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 4px;
}

.about-me p {
    color: #555555;
    font-size: 16px;
    margin: 0px 0px 20px;
    padding: 0px 0px 20px;
    border-bottom: 1px #999999 dashed;
}

.profile-about .clear-fix {
    clear: left;
}

.profile-about ul {
    /* background-color: aquamarine; */
    padding-left: 0px;
    width: 100%;

}

.profile-about span {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}

.profile-about li {
    float: left;
    color: #555555;
    margin: 0px 0px 15px;
    width: 40%;
}

.download-cv-btn .download-cv {
    color: white;
    background-color: #ff305b;
    border: 2px #ff305b solid;
    margin: 0px 10px 0px 0px;
    padding: 10px 24px;
    border-radius: 4px;
}

.download-cv-btn .hire-me {
    color: white;
    background-color: #ff305b;
    border: 2px #ff305b solid;
    margin: 0px 10px 0px 0px;
    padding: 10px 24px;
    border-radius: 4px;
}

/* !Our Services */
.services {
    /* background-color: blanchedalmond; */
    background-color: #f1f1f1;
    height: 486px;
    width: 100vw;
    padding: 1px;
    position: relative;
}

.container-services {
    /* background-color: burlywood; */
    width: 1150px;
    height: auto;
    text-align: center;
    position: absolute;
    left: 185px;
    /* vertical-align: middle; */
}

.container-services .clear-fix {
    clear: left;
}

.title-services h2 {
    color: #333;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-top: 80px;
    margin-bottom: 34px;
    text-transform: capitalize;
    text-align: center;
}

.title-services h2::before {
    content: " ";
    width: 70px;
    height: 15px;
    display: block;
    border-top: 1px solid #ff305b;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 125px;
    left: 540px;
    padding: 4px 0px 5px;
}

.title-services h2::after {
    content: " ";
    width: 140px;
    height: 2px;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 130px;
    left: 505px;
    text-align: center;
}

.card {
    float: left;
    width: 25%;
    padding: 70px 15px;
    text-align: center;
}

.card:hover {
    background-color: white;
}

.card h3 {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card p {
    color: #555555;
    margin: 0;
}

.services .card i {
    color: #ff305b;
    font-size: 26px;
}

/* !Our Portfolio */
.portfolio {
    /* background-color: cadetblue; */
    width: 100vw;
    height: 100vh;
    padding: 1px;
    position: relative;
    margin: 80px 0px 50px;
}

.container-portfolio {
    /* background-color:chocolate; */
    width: 1150px;
    height: auto;
    position: absolute;
    left: 185px;
    text-align: center;
}

.title-portfolio h2 {
    color: #333333;
    margin: 0px 0px 0px;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    padding-bottom: 30px;
    position: absolute;
    text-transform: capitalize;
    left: 480px
}

.title-portfolio h2::before {
    content: " ";
    width: 70px;
    height: 15px;
    display: block;
    border-top: 1px solid #ff305b;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 45px;
    left: 80px;
    padding: 4px 0px 5px;
}

.title-portfolio h2::after {
    content: " ";
    width: 170px;
    height: 2px;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 50px;
    left: 30px;
}

.portfolio .btn {
    display: inline-block;
    padding-bottom: 50px;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 3px 12px;
    position: relative;
    top: 90px;
    text-transform: uppercase;
}

.portfolio .btn:hover {
    color: #ff305b;
}

.container-portfolio .clear-fix {
    clear: left;
}

.cards-portfolio {
    width: 100%;
    position: absolute;
    top: 180px;
    left: 57.5px;
}

.card-portfolio img {
    border-radius: 10px;
    float: left;
    width: 345px;
    height: auto;
    padding: 0px 15px;
    margin-bottom: 20px;
}

/* !Statistics */
.statistics {
    /* background-color: cadetblue; */
    background-color: #f1f1f1;
    height: 270px;
    position: relative;
    padding: 80px 0;
}

.container-statistics {
    /* background-color:chocolate; */
    width: 1150px;
    height: auto;
    position: absolute;
    left: 185px;
    text-align: center;
    padding: 1px;
}

.container-statistics .clear-fix {
    clear: left
}

.icon-statistics {
    float: left;
    width: 25%;
}

.icon-statistics i {
    color: #ff305b;
    font-size: 26px;
}

.icon-statistics h3 {
    font-size: 26px;
    font-weight: 800;
    margin: 0px 0px 10px;
}

.icon-statistics h4 {
    color: #555555;
    font-size: 16px;
    margin-top: 0px;
}

/* !Client's Feedback */
.Feedback {
    /* background-color:burlywood; */
    width: 100vw;
    height: 61.5vh;
    padding: 1px;
    position: relative;
    margin: 80px 0px;
}


.container-feedback {
    /* background-color:chocolate; */
    width: 1150px;
    height: auto;
    position: absolute;
    left: 185px;
    text-align: center;
}

.title-feedback h2 {
    color: #333333;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    margin: 0px 0px 47px;

}

.title-feedback h2::before {
    content: " ";
    border-bottom: 1px #ff305b solid;
    border-top: 1px #ff305b solid;
    padding: 4px 0px 5px;
    display: block;
    width: 70px;
    height: 15px;
    position: absolute;
    top: 45px;
    left: 540px;
}

.title-feedback h2::after {
    content: " ";
    width: 170px;
    height: 2px;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 50px;
    left: 490px;
}

.container-feedback .frame-card {
    /* background-color: aquamarine; */
    background-color: #f1f1f1;
    text-align: center;
    width: 617px;
    height: 301px;
    padding: 40px;
    position: absolute;
    left: 266.50px;
    z-index: 1;
}

.container-feedback .card {
    /* background-color:blueviolet; */
    background-color: #f1f1f1;
    text-align: center;
    width: 537px;
    height: 221px;
}

.frame-card .photo-client img {
    width: 16%;
    border-radius: 50%;
    border: 1px #ff305b solid;
    position: absolute;
    right: 475px;
    top: 50px;
}

.frame-card .photo-client {
    background-color: #ff305b;
}

.section-two {
    background-color: beige;
    position: absolute;
    top: 40px;
    left: 145px;
    width: 70%;
    height: 221px;
}

.frame-card h3 {
    color: #333333;
    position: absolute;
    top: -25px;
    left: 15px;
    font-size: 26px;
    margin-bottom: 10px
}

.frame-card a {
    color: #777777;
    font-size: 15px;
    position: absolute;
    margin: 0px 0px 10px;
    top: 40px;
    left: 15px;
}

.frame-card p {
    position: absolute;
    top: 70px;
    left: 3px;
    font-size: 16px;
    font-style: italic;
}

.frame-card .review-rating p {
    color: #f1c30d;
    margin-bottom: 12px;
    position: absolute;
    top: 83%;
    left: 16px;
}

/* !Our Blog */
.blog {
    /* background-color: cadetblue; */
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    padding: 1px;
    position: relative;
    padding: 80px 0px 50px;
}

.container-blog {
    /* background-color:chocolate; */
    width: 1150px;
    height: auto;
    position: absolute;
    left: 185px;
    text-align: center;
}

.title-blog h2 {
    color: #333333;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
}

.title-blog h2::before {
    content: " ";
    width: 70px;
    height: 15px;
    display: block;
    border-top: 1px solid #ff305b;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 45px;
    left: 540px;
    padding: 4px 0px 5px;
}

.title-blog h2::after {
    content: " ";
    width: 170px;
    height: 2px;
    border-bottom: 2px solid #ff305b;
    position: absolute;
    top: 50px;
    left: 490px;
}

.clear-fix {
    clear: left;
}

.cards-blog {
    position: absolute;
    top: 120px;
}

.card-blog {
    width: 33.3333%;
    float: left;
    padding: 15px;
}

.card-blog img {
    float: left;
    width: 100%;
    margin-bottom: 25px;
}

.card-blog h3:hover {
    color: #ff305b;
}

.card-blog .post-read:hover {
    color: #ff305b;
}

.card-blog .description {
    background-color: white;
    padding: 20px;
    color: #333333;
}

.card-blog h3 {
    color: black;
    margin-bottom: 15px;
}

.card-blog p {
    margin: 0 0 15px;
}

/* !Contact Us */
.contact {
    /* background-color:#ff305b; */
    width: 100vw;
    height: 78.8vh;
    padding: 1px;
    padding: 80px 0px 80px;
}

.container-contact {
    /* background-color:burlywood; */
    width: 1150px;
    height: auto;
    position: relative;
    left: 185px;
    text-align: center;
}

.title-contact h2 {
    color: #333333;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    margin-top: 0px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
}

.title-contact h2::before {
    content: " ";
    width: 70px;
    height: 15px;
    display: block;
    border-top: 1px solid #ff305b;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 45px;
    left: 540px;
    padding: 4px 0px 5px;
}

.title-contact h2::after {
    content: " ";
    width: 170px;
    height: 2px;
    border-bottom: 1px solid #ff305b;
    position: absolute;
    top: 50px;
    left: 490px;
}

.form-subject {
    margin: 20px 0px;
}

.form-subject2 {
    height: 40px;
    width: 720px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    left: 225px;
    padding: 6px 12px;
    top: 159px
}

.form-name {
    margin: 22px 0px;
}

.form-name2 {
    height: 40px;
    width: 340px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    position: absolute;
    left: 225px;
    padding: 6px 12px;
}

.form-email {
    margin: 22px 0px;
}

.form-email2 {
    height: 40px;
    width: 340px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    position: absolute;
    left: 605px;
    padding: 6px 12px;
}

.form-textbox {
    margin: 20px 0px;
}

.form-textbox2 {
    height: 93.5px;
    width: 720px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    position: absolute;
    border-width: 2px;
    border-style: solid;
    border-color: whitesmoke;
    left: 225px;
    top: 210px;
    padding: 6px 12px;
    resize: none;
}

.send-btn .btn {
    position: absolute;
    top: 570%;
    left: 19.6%;
    border-radius: 4px;
    border-width: 2px;
    border-style: solid;
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    text-transform: uppercase;
    width: 143px;
    height: 40px;
    margin: -15px 0px;
}

.form-name2:focus {
    border-color: #a94442;
    outline: none;
}

.form-subject2:focus {
    border-color: #a94442;
    outline: none;
}

.form-email2:focus {
    border-color: #a94442;
    outline: none;
}

.form-textbox2:focus {
    border-color: #a94442;
    outline: none;
}

/* !Footer Page  */
.footer {
    /* background-color:burlywood; */
    background-color: #333;
    width: 100vw;
    height: 165px;
    padding: 1px;
    position: relative;
    padding: 50px 0px 50px;
}

.container-footer {
    /* background-color:coral; */
    width: 1150px;
    height: auto;
    position: absolute;
    left: 188px;
    text-align: center;
}

.icon {
    display: inline-block;
}

.footer .social-icons .icon i {
    color: #ffffff;
    display: block;
    height: auto;
    font-size: 17px;
    padding: 5px 10px;
    position: relative;
}

.footer ul.social-icons {
    margin: 0px 0px 10px;
    padding: 5px 0px 5px;

}

.footer .social-icons .icon i:hover {
    color: #ff305b;
}

.copy-right {
    color: #ffffff;
    margin: 0;
    position: relative;
    top: -15px;
    padding: 10px 0px;
}

.copy-right span {
    color: #ff305b;
}